version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      internal-deps:
        patterns:
            - "cloud.stackit*"
      external-deps:
        patterns:
            - "*"
        exclude-patterns:
            # should be covered by listing internal-deps first (https://docs.github.com/en/code-security/reference/supply-chain-security/dependabot-options-reference#groups--)
            # but listing it here to be explicit
            - "cloud.stackit*"
        cooldown:
          default-days: 7
